input{border:none;outline:none;margin:none;}

body{
	background:#fff;
	color:dimgray;
	font-family:Segoe UI,sans-serif;
	font-size:14px;
	line-height:1.8em;
	margin:0; 
}


.container{
	width:90%;
	margin:auto;
	overflow:hidden;
	text-align: center;
}

.header{
	width:100%;
	padding:20px 0;
	background-color:#57BED2;
	color:white;
	font-size:18px;
	margin: 0;

}

.header .myname{
	margin-left:15px;
}


.grids a{
	text-decoration: none;
}

/*SCROLLBAR*/

::-webkit-scrollbar{
	width: 13px;
	height: 13px;
	background-color:transparent;
}


::-webkit-scrollbar-thumb {
	background: #B7B6B6;
	border-radius: 10px;
  }

/*NAVBAR*/

.navbar {
	display: inline-block;
	padding:0;
	margin:40px auto 100px auto;
}

.navbar .current{
	color:#57BED2;
	font-weight: 500;
}

.navbar a{
	color:#B7B6B6;
	text-decoration:none;
	font-size:14px;
	margin:none;
	padding:8px 18px;
}

.navbar a:hover{
	color:#57BED2;
	text-decoration:none;
	margin:none;
	padding:8px 18px;
}


/*第一層*/

.navbar ul{
	list-style:none;
	margin:0;
	padding: 0;
}

.main{
	display: block;
	background:transparent;
	float:left;
	min-width: 100px;
}

/*第二層*/

.main .second{
	font-size: 14px;
	position:absolute;
	background-color:rgba(87, 190, 210, 0.1);
	padding:none;
	margin:none;
	text-align: center;
	z-index:50;
	display: none;	
}


.main ul li{
	position: relative;
	padding:8px 0;
	margin:none;
	text-align: center;
}


/*hover在works上出現second*/
.main:hover >.second,
.second:hover{
	display: block;
}

/*MAIN*/

#windows{
	font-size: 20px;
	padding:30px;
	/*border:solid 1px black;*/
	margin:none;
	overflow-x:auto;
	transform:rotateX(180deg); 
}

#windows .grids{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	grid-auto-rows:minmax(410px,auto);
	justify-items:stretch;/*左右*/
	align-items:stretch;/*上下*/
	grid-gap:45px;
	transform:rotateX(180deg); 
}

.grids > div{
	background:#ffffff;
	padding:0 em;
	margin:0 em;
	box-shadow: 2px 2px 4px #24242429;
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.grids > div:hover{
	opacity: 0.8;	
	transform:scale(1.02);
	box-shadow: 2px 6px 12px #24242429;
	}

.grids > div:nth-child(1) {
	background-image: url("images/gohan.png");
	background-size:cover;
	cursor: pointer;
	z-index: 0;
}

.grids > div:nth-child(2) {
	background-image: url("images/volunteer@4x.png");
	background-size:cover;
	cursor: pointer;
	z-index: 0;
}

.grids > div:nth-child(3) {
	background-image: url("images/羅家.png");
	background-size:cover;
	cursor: pointer;
	z-index: 0;
}



.grids .overlay {
	position:relative;
	top:0;
	left:0;
	width:400px;
	height:400px;
	background-color:none;
	display: flex;
	align-items: center;
	justify-content: center;
	color:transparent;	
	transition-duration: 500ms;

}


.grids .overlay:hover{
	position:relative;
	top:0;
	left:0;
	width:410px;
	height:410px;
	background-color: rgba(87, 190, 210,0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	padding:0px;
	margin:0px;
	color:white;
	transition-duration: 500ms;
}





/*FOOTER*/

footer{
	background:transparent;
	color:rgb(82, 82, 82);
	padding:90px 0 0 0;
	text-align:center;
	margin:0px;
	position: relative;;
	width:100%;
	font-size:12px;
}

@media(max-width:1020px){
	#windows .grids{
		display:grid;
		grid-template-columns:repeat(2,1fr);
		grid-auto-rows:minmax(410px,auto);
		justify-items:stretch;/*左右*/
		align-items:stretch;/*上下*/
		grid-gap:45px;
	}
}

@media(max-width:700px){
	#windows .grids{
		display:grid;
		grid-template-columns:repeat(1,1fr);
		grid-auto-rows:minmax(310px,auto);
		justify-items:stretch;/*左右*/
		align-items:stretch;/*上下*/
		grid-gap:45px;
	}
}