input{border:none;outline:none;margin:none;}
input:focus{outline:none;}
a{
    text-decoration:none;
    margin:none;
    padding:none;
    color:#828282
}

body{
	background:#F7F7F7;
	color:dimgray;
	font-family:Segoe UI, sans-serif;
	font-size:14px;
	line-height:1.8em;
	margin:0; 
}


.container{
	width:90%;
	margin:0 auto;
	overflow:hidden;
	text-align: center;
}

.header{
	background:transparent;
	width:100%;
	padding:20px 0;
	font-size:18px;
	text-align: center;
}

/*NAVBAR*/

.navbar {
	display: inline-block;
	padding top:3px;
	left: 50%;
	margin:200px auto 100px auto;
}

.navbar .current{
	color:#57BED2;
	font-weight: 500;
}

.navbar a{
	color:#B7B6B6;
	text-decoration:none;
	font-size:14px;
	margin:none;
	padding:8px 18px;
}

.navbar a:hover{
	color:#57BED2;
	text-decoration:none;
	margin:none;
	padding:8px 18px;
}


/*第一層*/

.navbar ul{
	list-style:none;
	margin:0;
	padding: 0;
}

.main{
	display: block;
	background:transparent;
	float:left;
	min-width: 100px;
}

/*第二層*/

.main .second{
	font-size: 14px;
	position:absolute;
	background-color:rgba(255, 255, 255, 0.8);
	padding:none;
	margin:none;
	text-align: center;
	z-index:50;
	display: none;	
}


.main .second li{
	position: relative;
	padding:8px 0;
	margin:none;
	text-align: center;
}


/*hover在works上出現second*/
.main:hover >.second,
.second:hover{
	display: block;
}



/*SHOWCASE*/

#showcase{
	height: 100vh;
	width:100%;
	background-image:url('./images/showcase.jpg' ) ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom:0;
	text-align:center;
}

#showcase h2{
	color:#828282;
	font-weight:400;
	line-height:1.6em;
	padding-top:0;
}	


.text{
	text-align: center;
	font-size:18px;
}


/*MAIN*/

#main{
	width:80%;
	padding:0 100px;
	box-sizing:border-box;
}




/*FOOTER*/

#main-footer{
	font-size:14px;
	color:#ffffff;
	padding:0px;
	text-align:center;
    margin:0px;
    position: absolute;
    bottom:0;
	width:100%;
	height:49px;
	font-size:12px;
	z-index: 50;
	overflow: hidden;
	/*border-top:solid 2px rgb(187, 196, 219);*/
	box-shadow: 0 0 8px 3px rgba(26, 26, 26, 0.4);
}

#main-footer ::before{
	content:'';
	position: absolute;
	top:0; right:0; bottom: 0; left: 0; 
	-webkit-filter: blur(8px);
	background-color:rgb(142, 149, 167);
	opacity: 0.5;
	box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.9);
	z-index: -1;
}


@media(max-width:768px){
	#showcase h2{
		color:#828282;
		font-weight:400;
		line-height:1.6em;
		padding-top:30px;
	}	
	.navbar {
		margin:200px auto 50px auto;
	}

}