input{border:none;outline:none;margin:none;}

body{
	background:#fff;
	color:dimgray;
	font-family:Segoe UI,sans-serif;
	font-size:14px;
	line-height:1.8em;
	margin:0; 
}

.container{
	width:90%;
	margin:auto;
	overflow:hidden;
}

.header{
	width:100%;
	padding:20px 0;
	background-color:#57BED2;
	color:white;
	font-size:18px;
	margin: 0;

}

.header .myname{
	margin-left:15px;
}


.grids a{
	text-decoration: none;
}

/*NAVBAR*/

.navbar{
	background:transparent;
	color:#B7B6B6;
	padding:3px 0;
	margin:40px auto;
	text-align: center;
}

.navbar .current{
	color:#57BED2;
	font-weight: 500;
}


.navbar a{
	color:#B7B6B6;
	text-decoration:none;
	font-size:14px;
	margin:2px 5px;
	padding:8px 18px;
	border:transparent 1px solid;

}

.navbar :hover{
	color:#57BED2;
	text-decoration:none;
	margin:2px 5px;
	padding:8px 18px;
}



/*MAIN*/

#main{
	font-size: 20px;
	padding:30px;
}


#main .grids{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	grid-auto-rows:minmax(410px,auto);
	justify-items:stretch;/*左右*/
	align-items:stretch;/*上下*/
	grid-gap:45px;
}


.grids > div{
	background:#ffffff;
	padding:0 em;
	margin:0 em;
	box-shadow: 2px 2px 4px #24242429;
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.grids > div:hover{
	opacity: 0.8;	
	transform:scale(1.02);
	box-shadow: 2px 6px 12px #24242429;
	}

.grids > div:nth-child(1) {
	background-image: url("images/gohan.png");
	background-size:cover;
	cursor: pointer;
	z-index: 0;
}

.grids > div:nth-child(2) {
	background-image: url("images/volunteer@4x.png");
	background-size:cover;
	cursor: pointer;
	z-index: 0;
}

.grids > div:nth-child(3) {
	background-image: url("images/羅家.png");
	background-size:cover;
	cursor: pointer;
	z-index: 0;
}



.grids .overlay {
	position:relative;
	top:0;
	left:0;
	width:400px;
	height:400px;
	background-color:none;
	display: flex;
	align-items: center;
	justify-content: center;
	color:transparent;	
	transition-duration: 500ms;

}


.grids .overlay:hover{
	position:relative;
	top:0;
	left:0;
	width:410px;
	height:410px;
	background-color: rgba(87, 190, 210,0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	padding:0px;
	margin:0px;
	color:white;
	transition-duration: 500ms;
}





/*FOOTER*/

footer{
	background:transparent;
	color:rgb(82, 82, 82);
	padding:90px 0 0 0;
	text-align:center;
	margin:0px;
	position: relative;;
	width:100%;
	font-size:12px;
}

@media(max-width:1020px){
	#main .grids{
		display:grid;
		grid-template-columns:repeat(2,1fr);
		grid-auto-rows:minmax(410px,auto);
		justify-items:stretch;/*左右*/
		align-items:stretch;/*上下*/
		grid-gap:45px;
	}
}

@media(max-width:600px){
	#main .grids{
		display:grid;
		grid-template-columns:repeat(1,1fr);
		grid-auto-rows:minmax(410px,auto);
		justify-items:stretch;/*左右*/
		align-items:stretch;/*上下*/
		grid-gap:45px;
	}
}