input{border:none;outline:none;margin:none;}

body{
	background:#fff;
	color:dimgray;
	font-family:Segoe UI,sans-serif;
	font-size:14px;
	line-height:1.8em;
	margin:0; 
}

.container{
	width:90%;
	margin:auto;
	overflow:hidden;
	text-align: center;
}

.header{
	width:100%;
	padding:20px 0;
	background-color:#57BED2;
	color:white;
	font-size:18px;
	margin: 0;
	/*box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);*/
	/*position:fixed;
	top:0px;
	left:0px;*/
}

.header .myname{
	margin-left:15px;
}

/*NAVBAR*/

.navbar {
	display: inline-block;
	padding:0;
	margin:40px auto 40px auto;
}

.navbar .current{
	color:#57BED2;
	font-weight: 500;
}

.navbar a{
	color:#B7B6B6;
	text-decoration:none;
	font-size:14px;
	margin:none;
	padding:8px 18px;
}

.navbar a:hover{
	color:#57BED2;
	text-decoration:none;
	margin:none;
	padding:8px 18px;
}


/*第一層*/

.navbar ul{
	list-style:none;
	margin:0;
	padding: 0;
}

.main{
	display: block;
	background:transparent;
	float:left;
	min-width: 100px;
}

/*第二層*/

.main .second{
	font-size: 14px;
	position:absolute;
	background-color:rgba(87, 190, 210, 0.1);
	padding:none;
	margin:none;
	text-align: center;
	z-index:50;
	display: none;	
}


.main ul li{
	position: relative;
	padding:8px 0;
	margin:none;
	text-align: center;
}


/*hover在works上出現second*/
.main:hover >.second,
.second:hover{
	display: block;
}




/*MAIN*/

#main{
	padding:30px;
	margin-bottom: 0px;
}

.left{
	float: left;
	width: 60%;
	text-align: left;
	margin-right: 30px;
}

.right{
	padding-top:100px;
	float:right;
	width:30%;
	text-align: left;
}


h3{	
	padding-bottom: 0;
	margin-bottom: 0;
}

.button{
	margin-top: 15px;
	float:left;
	padding:5px 20px;
	border:solid rgb(156, 156, 156) 1px;
	border-radius: 5px;
}

.button:hover{
	margin-top: 15px;
	float:left;
	padding:5px 20px;
	border:solid rgb(156, 156, 156) 1px;
	border-radius: 5px;
	background-color:#EFEFEF ;
}

#main a{
	text-decoration: none;
	color:dimgray;
}

/*FOOTER*/

footer{
	background:transparent;
	color:rgb(82, 82, 82);
	padding:0px;
	text-align:center;
	margin:0px;
	position: relative;
    bottom:0;
	width:100%;
	font-size:12px;
}

@media(max-width:600px){
	.left{
		width: 100%;
		float:none;
	}

	.right{
		width: 100%;
		float:none;
	}
}